$primary-color: #366bd3;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

$codeblock-color: #999;

$gray-color: #efefef;
$font-color: #4d4d4d;
$white-color: #ffffff;

$max-width: 1100px;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 4px;

$gray_1: rgba(239.00000095367, 239.00000095367, 239.00000095367, 1);
$gray_6: rgba(242.00000077486, 242.00000077486, 242.00000077486, 1);
$primary_5: rgba(54.000000581145, 107.0000012219, 211.0000026226, 1);
$gray_7: rgba(78.00000295043, 81.000002771616, 90.000002235174, 1);
$primary_6: rgba(44.000001177192, 96.000001877546, 199.00000333786, 1);
$white: rgba(255, 255, 255, 1);
$primary_7: rgba(36.000001654029, 79.000002890825, 163.00000548363, 1);
$gray_8: rgba(43.000001236796, 44.000001177192, 49.000000879169, 1);
$gray_2: rgba(214.00000244379, 216.00000232458, 220.00000208616, 1);
$primary_1: rgba(205.00000298023, 218.00000220537, 244.00000065565, 1);
$primary_9: rgba(20.000000707805, 44.000001177192, 91.00000217557, 1);
$accent_secondary_7: rgba(44.000001177192, 28.000000230968, 127.0000000298, 1);
$accent_secondary_1: rgba(226.00000172853, 222.00000196695, 248.00000041723, 1);
$gray_5: rgba(133.00000727177, 137.00000703335, 149.00000631809, 1);
$gray_4: rgba(173.00000488758, 176.00000470877, 185.00000417233, 1);
$gray_3: rgba(194.00000363588, 196.00000351667, 202.00000315905, 1);
$gray_9: rgba(23.000000528991, 24.000000469387, 27.000000290573, 1);
$gray_6: rgba(113.00000086427, 117.00000062585, 131.00000739098, 1);
$primary_4: rgba(104.00000140071, 144.00000661612, 222.00000196695, 1);
$primary_3: rgba(138.00000697374, 169.000005126, 229.00000154972, 1);
$primary_2: rgba(171.00000500679, 193.00000369549, 237.00000107288, 1);
$primary_8: rgba(28.000000230968, 61.000000163913, 127.0000000298, 1);
$accent_secondary_5: rgba(79.000002890825, 54.000000581145, 211.0000026226, 1);
$accent_secondary_4: rgba(152.00000613928, 138.00000697374, 229.00000154972, 1);
$accent_secondary_3: rgba(182.00000435114, 171.00000500679, 237.00000107288, 1);
$accent_secondary_2: rgba(196.00000351667, 188.00000399351, 240.00000089407, 1);
$accent_secondary_9: rgba(19.00000076741, 12.000000234693, 54.000000581145, 1);
$accent_secondary_8: rgba(31.000000052154, 20.000000707805, 91.00000217557, 1);
$accent_secondary_6: rgba(56.000000461936, 36.000001654029, 163.00000548363, 1);
$accent_red_5: rgba(211.0000026226, 79.000002890825, 54.000000581145, 1);
$accent_red_4: rgba(222.00000196695, 123.00000026822, 104.00000140071, 1);
$accent_red_3: rgba(229.00000154972, 152.00000613928, 138.00000697374, 1);
$accent_red_2: rgba(237.00000107288, 182.00000435114, 171.00000500679, 1);
$accent_red_1: rgba(244.00000065565, 211.0000026226, 205.00000298023, 1);
$accent_red_9: rgba(91.00000217557, 31.000000052154, 20.000000707805, 1);
$accent_red_8: rgba(127.0000000298, 44.000001177192, 28.000000230968, 1);
$accent_red_7: rgba(163.00000548363, 56.000000461936, 36.000001654029, 1);
$accent_red_6: rgba(199.00000333786, 68.000003546476, 44.000001177192, 1);
$accent_yellow_5: rgba(211.00001782179, 204.72001880407, 53.999981582165, 1);
$accent_yellow_4: rgba(222.00000196695, 218.00000220537, 104.00000140071, 1);
$accent_yellow_3: rgba(229.00000154972, 226.00000172853, 138.00000697374, 1);
$accent_yellow_2: rgba(237.00000107288, 234.0000012517, 171.00000500679, 1);
$accent_yellow_1: rgba(244.00000065565, 243.00000071526, 205.00000298023, 1);
$accent_yellow_9: rgba(91.00000217557, 88.000002354383, 20.000000707805, 1);
$accent_yellow_8: rgba(127.0000000298, 123.00000026822, 28.000000230968, 1);
$accent_yellow_7: rgba(163.00000548363, 158.00000578165, 36.000001654029, 1);
$accent_yellow_6: rgba(199.00000333786, 193.00000369549, 44.000001177192, 1);
$accent_green_5: rgba(186.00000411272, 211.0000026226, 54.000000581145, 1);
$accent_green_4: rgba(203.00000309944, 222.00000196695, 104.00000140071, 1);
$accent_green_3: rgba(215.00000238419, 229.00000154972, 138.00000697374, 1);
$accent_green_2: rgba(226.00000172853, 237.00000107288, 171.00000500679, 1);
$accent_green_1: rgba(238.00000101328, 244.00000065565, 205.00000298023, 1);
$accent_green_9: rgba(63.000000044703, 72.000003308058, 16.000000946224, 1);
$accent_green_8: rgba(95.000001937151, 109.00000110269, 24.000000469387, 1);
$accent_green_7: rgba(127.0000000298, 145.00000655651, 32.000001892447, 1);
$accent_green_6: rgba(159.00000572205, 181.00000441074, 40.00000141561, 1);
