.hero {
  height: 50vh;
  padding: 3em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .hero__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2em;

    h1 {
      font-size: 3rem;
      color: $color-primary-600;
      margin-top: 0;
    }

    p {
      font-size: 1rem;
      color: $color-primary-300;
    }
  }
}

.course-item-container {
  display: block;
  width: 75vw;
  margin: 3rem auto;
  margin-top: 0;
  padding: 3rem;
  background: white;
  box-shadow: $box-shadow-lg;
  border-radius: $border-radius-md;
}

.course-item {
  background: $color-gray-900;
  & + * {
    margin-top: 2rem;
  }

  padding: 20px;
  display: flex;
  box-shadow: $box-shadow-md;
  border-radius: $border-radius-md;

  &__info {
    margin-left: 20px;
    width: calc(100% - 250px);

    h1 {
      margin-top: 0;
      font-size: 2rem;
    }

    a {
      color: $color-primary-600;

      &:hover {
        color: $color-primary-400;
      }
    }
  }
}

.course-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.course-card {
  border-radius: 5px;
  padding: 1rem;
  min-height: 20vh;
  box-shadow: $box-shadow-md;
  transition: all 0.3s ease-in-out;

  position: relative;

  &[data-course="prog1"] {
    background: url("../images/prog1_bg.png");
  }
  &[data-course="prog2"] {
    background: url("../images/prog2_bg.png");
  }
  &[data-course="webb1"] {
    background: url("../images/webb1_bg.png");
  }
  &[data-course="webb2"] {
    background: url("../images/webb2_bg.png");
  }
  &[data-course="digi1"] {
    background: url("../images/digi1_bg.png");
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: $box-shadow-lg;
  }

  .card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;

    .card-planning {
      background: $color-gray-700;
      padding: 0.2rem;

      transition: all 0.3s ease-in-out;
      border-radius: $border-radius-sm;

      &:hover {
        background: $color-gray-100;
        color: $color-gray-700;
        border-radius: $border-radius-md;
      }
    }
  }

  .card-icon {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0.5rem;

    width: 3rem;
    height: 3rem;
  }
}
