@import "config";
@import "basic";
@import "startpage";

// New layout

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary--800);
  padding: var(--base) var(--small);
}

.course-nav {
  grid-area: coursenav;
  font-size: var(--large);
  display: none;
}

#logo {
  font-size: var(--lg3);
  grid-area: logo;
  display: flex;
  align-items: center;
}

#logo * {
  color: var(--primary--100);
  margin: 0;
}

#logo a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 0.25em;
  color: var(--primary--100);
}

#logo path {
  fill: currentColor;
}

#searchbar {
  padding: 0 1em;
  grid-area: searchbar;
  display: none;
}

#searchbar input {
  box-sizing: border-box;
  border: none;
  padding: 0.5em;
  background: var(--gray--100);
  font-size: var(--large);
  border-radius: 5px;
  width: 100%;
}

.show-menu-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.25em;
  font-size: var(--large);
  color: var(--primary--50);
}

.sidebar {
  display: none;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--gray--50);
  color: var(--primary--900);
  font-size: var(--base);
  padding: 1em;
  z-index: 1;
  width: 100%;
  max-height: 80vh;
  min-height: 80vh;
}

.sidebar--show {
  display: block;
}

.sidemenu a {
  text-decoration: none;
}

.sidemenu a:hover {
  text-decoration: underline;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu__heading {
  color: var(--primary--800);
  font-size: var(--lg2);
  font-weight: var(--fw-regular);
}

.sidemenu__heading h2 {
  margin: 0;
}

.sidemenu__shortcutlist > li {
  padding: calc(var(--large) / 2);
}

.sidemenu__shortcutlist a {
  color: var(--primary--900);
  text-decoration: none;
  font-size: var(--large);
}

.sidemenu__shortcutlist a:hover {
  color: var(--primary--700);
  text-decoration: underline;
}

.menu-section {
  margin-top: 1em;
}

.menu-section__heading {
  color: var(--primary--800);
}

.menu-section__heading:hover {
  color: var(--primary--700);
}

.menu-section__heading--active {
  color: var(--primary--600);
}

.menu-section__heading--active:hover {
  color: var(--primary--700);
}

.menu-section__heading h2 {
  font-size: var(--large);
  font-weight: var(--fw-medium-fs);
  margin-bottom: 0.5em;
}

.menu-section__list {
  display: flex;
  flex-direction: column;
}

.menu-section__link {
  display: inline-block;
  color: var(--gray--700);
  padding: 0.5rem 0.75rem;
}

.menu-section__link:hover {
  color: var(--gray--800);
}

.menu-section__link--active {
  background: var(--primary--100);
  color: var(--primary--800);
  font-weight: var(--fw-medium-fs);
  border-radius: 0.2rem;
}

.menu-section__link--active:hover {
  background: var(--primary--200);
  color: var(--primary--700);
}

main {
  padding: 0 1em;
}

.page-index__heading {
  font-size: var(--large);
}

.page-index__list {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.page-index__list a {
  text-decoration: none;
  color: var(--gray--700);
  margin-bottom: 1em;
}

.page-index__list a:hover {
  text-decoration: underline;
  color: var(--primary--700);
}

@media screen and (min-width: 900px) {
  body {
    padding: 0;
  }

  header {
    background: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
  }

  #logo * {
    color: var(--primary--800);
  }

  #logo h2 {
    margin: 0;
  }

  .course-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .course-nav__courselink {
    text-decoration: none;
    color: var(--gray--500);
  }

  .course-nav__courselink:hover {
    text-decoration: underlin;
    color: var(--primary--700);
  }

  .course-nav__courselink--active {
    color: var(--primary--800);
  }

  .show-menu-button {
    display: none;
  }

  #main-wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;

    word-break: normal;
  }

  .layout-container {
    display: flex;
  }

  .sidebar {
    max-height: none;
    min-height: none;
    display: block;
    position: static;
    overflow-y: visible;
    overflow-x: visible;
    height: auto;
    padding: 0;
    width: 18rem;
    flex: none;
    z-index: 40;
  }

  .sidemenu-wrapper {
    height: auto;
    display: block;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidemenu {
    height: 100vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .content-wrapper {
    position: static;
    overflow: visible;
    flex: 1 1 auto;
    max-height: 100%;
    width: 100%;
  }

  .content-container {
    display: flex;
    width: 100%;
  }

  main {
    padding-bottom: var(--lg7);
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 54rem;
  }

  aside {
    width: 18rem;
    flex: none;
    padding-left: 2rem;
  }
}

// Various, might need to change where this is
.breadcrumb {
  font-size: var(--large);
}

.breadcrumb__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.breadcrumb__list__item {
  margin: 0 0.25em;
}

.breadcrumb__separator {
  margin: 0 0.25em 0 0;
  font-weight: var(--fw-bold);
}

.breadcrumb__link__active {
  font-weight: var(--fw-bold);
  color: var(--primary--800);
}

.page-heading {
  font-size: var(--lg5);
  margin: var(--lg3) 0;
}

main ol,
main ul {
  margin-bottom: 1em;
}

main li {
  margin-bottom: 0.25em;
}

main a {
  text-decoration: underline;
}

@import "print";
