@import "config";
@import "basic";
@import "startpage";

header {
  box-shadow: $box-shadow-md;
  background-color: $color-primary-200;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 10px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    width: 100%;

    h1 {
      margin: 0;
      margin-right: 1rem;
    }

    ul {
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      margin: 0;
    }

    a {
      padding: 0.45rem;
      margin: 0 0.25rem;
      color: $color-primary-500;

      &:hover {
        color: $color-primary-400;
      }

      &.active {
        color: $color-primary-400;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

#main-wrapper {
  min-height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $color-primary-100;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "left" "right";

  .left {
    grid-area: left;
    background-color: $color-gray-900;
  }

  .right {
    grid-area: right;
  }

  main {
    grid-area: main;
  }

  main > .page {
    box-shadow: $box-shadow-md;
    border-radius: $border-radius-md;
    background-color: white;
    margin-top: 1rem;
    padding: 2.5rem;

    a {
      color: $color-primary-500;
      text-decoration: underline;

      &:hover {
        color: $color-primary-400;
      }
    }
  }

  aside {
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: scroll;
      height: 100vh;
      position: sticky;
      top: 0;
    }

    ul {
      margin-top: 0;
    }
    li {
      list-style: none;
    }

    h2 {
      margin: 0;
    }
  }
}

.breadcrumb {
  display: inline-block;
}

.breadcrumb__list {
  display: flex;
}

.breadcrumb__link {
  color: $color-primary-600;
}

.breadcrumb__link:hover {
  color: $color-primary-300;
}

.breadcrumb__separator {
  margin: 0 0.25em 0 0;
  font-weight: 800;
}

.breadcrumb__link__active {
  font-weight: 800;
  color: $color-primary-800;
}

.page-heading {
  margin: 0;
}

main ol,
main ul {
  margin-bottom: 1rem;
}

main li {
  margin-bottom: 0.25rem;
}

@media screen and (min-width: $medium-up) {
  #main-wrapper {
    grid-template-areas: "left" "main" "right";

    .left {
      nav {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (min-width: $large-up) {
  #main-wrapper {
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 70%) minmax(
        100px,
        1fr
      );
    grid-template-areas: "left main right";
    grid-gap: 20px;

    .left {
      nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }
}

// New layout

/*

#main-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
  row-gap: 2em;
  position: relative;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary--800);
  padding: 0.5em;
}

.course-nav {
  grid-area: coursenav;
  font-size: var(--large);
  display: none;
}

#logo {
  font-size: var(--lg3);
  grid-area: logo;
}

#logo * {
  color: var(--primary--100);
}

#logo a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 0.25em;
  color: var(--primary--100);
}

#logo path {
  fill: currentColor;
}

#searchbar {
  padding: 0 1em;
  grid-area: searchbar;
  display: none;
}

#searchbar input {
  box-sizing: border-box;
  border: none;
  padding: 0.5em;
  background: var(--gray--100);
  font-size: var(--large);
  border-radius: 5px;
  width: 100%;
}

.show-menu-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.25em;
  font-size: var(--large);
  font-family: "montserrat";
  color: var(--primary--50);
}

.sidemenu {
  display: none;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--gray--50);
  color: var(--primary--900);
  font-family: "Open Sans", sans-serif;
  font-size: var(--base);
  padding-right: 1em;
  z-index: 1;
  width: 100%;
  grid-area: main;
  max-height: 80vh;
}

.sidemenu--show {
  display: block;
}

.sidemenu a {
  text-decoration: none;
}

.sidemenu a:hover {
  text-decoration: underline;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu__heading {
  font-family: "Montserrat", sans-serif;
  color: var(--primary--800);
  font-size: var(--lg2);
  font-weight: normal;
}

.sidemenu__shortcutlist > li {
  padding: calc(var(--large) / 2);
}

.sidemenu__shortcutlist a {
  color: var(--primary--900);
  text-decoration: none;
  font-size: var(--large);
}

.sidemenu__shortcutlist a:hover {
  color: var(--primary--700);
  text-decoration; underline;
}

.menu-section {
  margin-top: 1em;
}

.menu-section__heading {
  color: var(--gray--800);
  font-size: var(--base);
}

.menu-section__heading:hover {
  color: var(--primary--800);
}

.menu-section__heading h2 {
  font-size: var(--base);
  font-weight: normal;
  margin-bottom: 0.5em;
}

.menu-section__list {
  display: flex;
  flex-direction: column;
}

.menu-section__list a {
  display: inline-block;
  color: var(--gray--700);
  background: var(--gray--100);
  padding: calc(var(--large) / 2) calc(var(--lg3) / 2);
}

.menu-section__list a:hover {
  background: var(--gray--300);
  color: var(--gray--800);
}

main {
  grid-area: main;
  padding: 0 1em;
}

aside {
  grid-area: aside;
}

.page-index__heading {
  font-size: var(--large);
}

.page-index__list {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.page-index__list a {
  text-decoration: none;
  color: var(--gray--700);
  margin-bottom: 1em;
}

.page-index__list a:hover {
  text-decoration: underline;
  color: var(--primary--700);
}

@media screen and (min-width: 900px) {
  body {
    padding: 1em;
  }
  
  #main-grid {
    grid-template-areas:
    "logo coursenav coursenav"
    "menu main aside"
    "footer footer footer";
    grid-template-columns: 1fr minmax(500px, 800px) 1fr;
  }
  
  header {
    display: contents;
  }
  
  #logo * {
    color: var(--primary--800);
  }
  
  .course-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  
  .course-nav__courselink {
    text-decoration: none;
    color: var(--gray--500);
  }
  
  .course-nav__courselink:hover {
    text-decoration: underlin;
    color: var(--primary--700);
  }
  
  .course-nav__courselink--active {
    color: var(--primary--800);
  }
  
  .show-menu-button {
    display: none;
  }
  
  .sidemenu {
    display: block;
    grid-area: menu;
    position: static;
    overflow-y: auto;
    min-height: 80vh;
    max-height: 85vh;
  }
}

*/

@import "print";
