*.fira {
  font-family: "fira code", monospace;
}

.reveal .slides > section,
.reveal .slides > section > section {
  width: auto;
}

.reveal pre {
  font-family: "fira code", monospace;
  width: auto;
}

button {
  font-size: 3rem;
  background: #fa1234;
  border: none;
  border-radius: 10px;
  color: white;
}

button.green {
  font-size: 3rem;
  background: #25fa12;
  border: none;
  border-radius: 10px;
  color: white;
}

button.beige {
  background: #ffce7f;
}

button.brown {
  background: #a07923;
}

button:hover {
  background: #ccc;
  cursor: pointer;
}

button.gray {
  background: #ccc;
}

button.gray:hover {
  background: #fff;
  color: #ccc;
}

a.underline,
span.underline {
  text-decoration: underline;
}

span.underline:hover {
  color: rgb(56, 107, 124);
  cursor: pointer;
}

* {
  text-align: left;
}
